<div class="container">
  <div class="row">
    <div class="logo-block">
      <img [src]="headerLogo" alt="" class="logo">
      <div class="push-right">
        <p>
            Офіційний дилер <br>
            компанії "Андреас Штіль"
        </p>
        <div class="items">
          <a [routerLink]="">
            <img [src]="stihlLogo" alt="">
          </a>
          <a [routerLink]="">
            <img [src]="vikingLogo" alt="">
          </a>
        </div>
    </div>
    </div>
    <div class="links">

    </div>
    <div class="nav">

    </div>
    <div class="contacts">

    </div>
  </div>
</div>