<div class="header-banner">
  <div class="logo">
    <a [routerLink]="">
      <img [src]="headerLogo" alt="">
    </a>
  </div>
  <div class="dealer">
    <p>
      Офіційний дилер <br/> компанії "Андреас Штіль"
    </p>
    <div class="logos">
      <img [src]="stihlLogo" alt="">
      <img [src]="vikingLogo" alt="">
    </div>
  </div>
  <div class="contacts">
    <div class="numbers">
      <div class="number">
        <i class="fas fa-phone-square"></i>
        <a href="tel:(044) 371-69-80">(044) 371-69-80</a>
      </div>
      <div class="number">
        <i class="fas fa-mobile-alt"></i>
        <a href="tel:(044) 371-69-80">(096) 371-69-80</a>
      </div>
    </div>
    <div class="timetable">
      Понеділок - П'ятниця з 9:00 до 18:00 | Субота з 9:00 до 15:00
    </div>
  </div>
</div>